.todo-item {
    padding: 0px 8px;
}

.todo-item>button {
    width: 100%;
    text-align: start;
    border: 0px;
    margin: 0px;
    background-color: transparent;
    padding: 6px;
}

.todo-item>hr {
    margin: 0px;
    padding: 0px;
}

.todo-item>button:focus {
    outline: none;
}

.todo-item>button:hover,
.todo-item>button:active {
    background-color: rgba(161, 161, 161, 0.349);
}

.linethru {
    text-decoration: line-through;
}

.success-bg {
    background-color: rgba(152, 240, 21, 0.849);
}