.todo-item {
    padding: 0px 8px;
}

.todo-item>button {
    width: 100%;
    text-align: start;
    border: 0px;
    background-color: transparent;
    margin: 0px;
    padding: 6px;
}

.todo-item>hr {
    margin: 0px;
    padding: 0px;
}

.todo-item>button:focus {
    outline: none;
}

.todo-item>button:hover,
.todo-item>button:active {
    background-color: rgb(211, 211, 211);
}